.references {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 20%;
  padding-top: 10%;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  color: rgb(236, 228, 228);
}

.typingHeading {
  width: 14ch;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  font-size: 4rem;
  animation: typing 2s steps(23), blink 0.5s step-end infinite alternate;
  border-right: 3px solid;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  color: rgb(122, 122, 122);
  text-shadow: 1px 2px 6px rgba(110, 194, 227, 0.74), 0 0 0 #000,
    1px 2px 6px rgba(110, 194, 227, 0.74);
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.reference {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.img1 {
  height: 10rem;
  width: 10rem;
  background-image: url(c2.png);
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.img2 {
  width: 20rem;
  height: 5rem;
  background-image: url(daikin-logo.svg);
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(90%);
}

.img3 {
  width: 9rem;
  height: 8rem;
  background-image: url(turkcell-logo.png);
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.img4 {
  width: 20rem;
  height: 8rem;
  background-image: url(turktelekom.png);
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.img5 {
  width: 14rem;
  height: 7rem;
  background-image: url(macfit-42maslak.jpeg);
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.img6 {
  width: 22rem;
  height: 7rem;
  background-image: url(toyzz_shop_logo.png);
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.img7 {
  width: 22rem;
  height: 3rem;
  background-image: url(carrefoursa-logo.svg);
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.img8 {
  width: 25rem;
  height: 8rem;
  background-image: url(teblogo.png);
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.img9 {
  width: 20rem;
  height: 6rem;
  background-image: url(zain-group-logo.svg);
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.img10 {
  width: 20rem;
  height: 6rem;
  background-image: url(images-2.svg);
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
