.references {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 20%;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  color: rgb(236, 228, 228);
}

.typingHeading {
  width: 14ch;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;

  font-size: 4rem;
  animation: typing 2s steps(23), blink 0.5s step-end infinite alternate;
  border-right: 3px solid;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  color: rgb(122, 122, 122);
  text-shadow: 1px 2px 6px rgba(110, 194, 227, 0.74), 0 0 0 #000,
    1px 2px 6px rgba(110, 194, 227, 0.74);
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.grid {
  margin: 0 auto;
  width: 90%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 2rem;
  padding-right: 2rem;
}

.grid img {
  width: 70%;
  border-radius: 1rem;
}

.logoContainer {
  width: 80%;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 3rem rgb(110, 193, 227);
  transition: all 0.3s;
}

.logoContainer:hover {
  box-shadow: 1rem 1rem 3rem #797979, -1rem -1rem 3rem #ffffff;
  transform: scale(1.03);
}

.logo {
  width: 100%;
  height: auto;
}

@media (max-width: 96em) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .grid img {
    width: 40%;
    border-radius: 1rem;
  }
}
