.duty {
  position: relative;
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 180vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 180vh, 0 100%);
  color: rgb(236, 228, 228);
}

.dash {
  width: 4rem;
  height: 2px;
  background-color: rgb(110, 193, 227);
}

.aboutUs {
  display: flex;
  align-items: center;

  gap: 1.8rem;
  margin-bottom: -2rem;
}

.aboutUsText {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
}

.aboutUsText h4 {
  margin-top: 0.3rem;
  color: rgb(255, 204, 0);
  letter-spacing: 2px;
  font-weight: 700;
  letter-spacing: 3px;
}

.aboutUsText h3 {
  color: rgb(110, 193, 227);
}

.aboutText {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-15%);

  display: flex;
  flex-direction: column;

  gap: 1.5rem;
  padding: 2rem;
  width: 50%;
  hyphens: auto;
}

.aboutText h1 {
  font-size: 4rem;
  text-shadow: 1rem 0.75rem 4rem rgba(0, 0, 0, 0.7);
}

.aboutText p {
  font-size: 1.8rem;
  line-height: 2;
}

.services {
  margin-top: 4rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  position: absolute;

  width: 100%;
  margin: 0 auto;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left1 {
  right: 20%;
}

.left2 {
  right: 3%;
  top: 31.5%;
}

.right1 {
  top: 25%;
  left: 20%;
}

.imgLeft {
  width: 40%;
}

.imgRight {
  position: absolute;
  width: 40%;
}

.img {
  width: 90%;
  border-radius: 2rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.671);
}

.textRight {
  position: absolute;
  right: 0;
  background-color: rgb(221, 226, 230);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
  padding: 2rem;
  width: 40%;
  box-shadow: 0 1rem 4rem rgba(110, 194, 227, 0.74);
}

.textLeft {
  position: absolute;

  left: -5rem;
  z-index: 100;

  background-color: rgb(221, 226, 230);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
  padding: 2rem;
  width: 40%;
  box-shadow: 0 1rem 4rem rgba(110, 194, 227, 0.74);
}

.textRight h1 {
  color: rgb(110, 193, 227);
  font-size: 3rem;
}

.textRight p {
  color: #555;
  font-size: 2rem;
}

.textLeft h1 {
  color: rgb(110, 193, 227);
  font-size: 3rem;
}

.textLeft p {
  color: #555;
  font-size: 2rem;
}
