.about {
  width: 100%;

  display: flex;

  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 20%;
  padding-top: 10%;
  gap: 3rem;

  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  color: rgb(236, 228, 228);
  z-index: -1;
}

.image {
  display: block;
  position: relative;
  width: 45%;
}

.photo {
  width: 50%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.514);
  border-radius: 0.5rem;
  position: absolute;
  transition: all 0.2s;
  outline-offset: 2rem;
}

.photo1 {
  left: 3%;
  top: 2%;
}

.photo2 {
  right: 0;
  top: 10rem;
}

.photo3 {
  left: 20%;
  top: 25rem;
}

.aboutText strong {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  font-style: oblique;
}

.aboutText {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  width: 50%;
  hyphens: auto;
}

.typingHeading {
  width: 11ch;

  white-space: nowrap;
  overflow: hidden;
  color: rgb(122, 122, 122);
  font-size: 4rem;
  animation: typing 2s steps(23), blink 0.5s step-end infinite alternate;
  border-right: 3px solid;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;

  text-shadow: 1px 2px 6px rgba(110, 194, 227, 0.74), 0 0 0 #000,
    1px 2px 6px rgba(110, 194, 227, 0.74);
}

.aboutText p {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.button {
  width: 70%;
  padding: 1rem 0.5rem;
  border-radius: 2rem;
  transition: all 200ms;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  color: #777;
}

.button:hover {
  transform: translateY(-0.3rem);

  box-shadow: 0 1rem 4rem rgba(110, 194, 227, 0.74);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 2rem rgba(110, 194, 227, 0.74);
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 60em) {
  .image {
    display: none;
    opacity: 0;
  }

  .about {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 55em) {
  .aboutText h1 {
    font-size: 2.4rem;
  }

  .aboutText p {
    font-size: 1.4rem;
  }
}
