.solutions {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 15%;
  padding-top: 10%;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  color: rgb(236, 228, 228);
}

.typingHeading {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 3.8rem;
  border-bottom: 1px solid rgba(110, 194, 227, 0.74);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

/* .typingHeading {
  width: 12ch;

  white-space: nowrap;
  overflow: hidden;

  font-size: 4rem;
  animation: typing 2s steps(23), blink 0.5s step-end infinite alternate;
  border-right: 3px solid;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  color: rgb(122, 122, 122);
  text-shadow: 1px 2px 6px rgba(110, 194, 227, 0.74), 0 0 0 #000,
    1px 2px 6px rgba(110, 194, 227, 0.74);
  height: 100%;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
} */

.cards {
  padding: 6rem;

  display: flex;
  gap: 2rem;
  height: 60%;
  width: 100%;
}

.card {
  padding: 2rem;
  border: 1px solid rgba(110, 194, 227);
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 0.3s;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.596);
}

.card:hover {
  transform: translateY(-1rem);
}

.cardHeader {
  display: block;
  font-size: 2rem;
}

.cardTop {
  margin-top: 1rem;
  display: flex !important;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  display: inline-block;
  background-color: rgb(99, 173, 205);
  border-radius: 1rem;
}

.cardText {
  margin-top: 3.6rem;
  font-size: 1.7rem;
}

.card1 {
  background-image: linear-gradient(
      to bottom,
      rgba(128, 128, 128, 0.8),
      rgba(0, 0, 0, 0.9)
    ),
    url(./photo3.jpeg);
  background-size: cover;
}
.card2 {
  background-image: linear-gradient(
      to bottom,
      rgba(128, 128, 128, 0.75),
      rgba(0, 0, 0, 0.9)
    ),
    url(./photo2.jpeg);
  background-size: cover;
}
.card3 {
  background-image: linear-gradient(
      to bottom,
      rgba(128, 128, 128, 0.75),
      rgba(0, 0, 0, 0.9)
    ),
    url(./photo4.jpeg);
  background-size: cover;
}
.card4 {
  background-image: linear-gradient(
      to bottom,
      rgba(128, 128, 128, 0.75),
      rgba(0, 0, 0, 0.9)
    ),
    url(./photo1.jpeg);
  background-size: cover;
}

@media (max-width: 62em) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 36em) {
  .cardText {
    font-size: 1.6rem;
  }
  .cardHeader {
    font-size: 1.8rem;
  }
}
