.header {
  position: relative;
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(58, 24, 24, 0.7),
      rgba(9, 9, 39, 0.7)
    ),
    url(photo.jpeg);

  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  animation: moveInBottom 0.5s ease-out 0.3s;
  animation-fill-mode: backwards;
}

.textBox {
  color: rgb(236, 228, 228);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
}

.headingPrimary {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.headingPrimaryMain {
  border-bottom: 0.2rem solid rgb(110, 193, 227);
  padding-bottom: 2rem;
  animation: moveInRight 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.headingPrimarySub {
  margin-bottom: 3rem;
  animation: moveInLeft 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.chart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: moveInTop 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.chart svg {
  width: 50%;
}

.button {
  width: 14rem;
  padding: 1.5rem 3rem;
  border-radius: 2rem;
  transition: all 200ms;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  color: #555;
  animation: moveInBottom 0.5s ease-out 1s;
  animation-fill-mode: backwards;
}

.button:hover {
  transform: translateY(-0.3rem);

  box-shadow: 0 1rem 4rem rgba(110, 194, 227, 0.74);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 2rem rgba(110, 194, 227, 0.74);
}

.circle {
  transition: all 3s;
  animation: underline 1s ease-out 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem) rotate(0deg);
  }

  80% {
    opacity: 0.7;
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    opacity: 0.7;
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes underline {
  100% {
    text-shadow: 0 1rem 2rem #6ec2e3;
  }
}
