.partners {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 1%;
  padding-left: 1%;

  padding-bottom: 20%;
  padding-top: 3%;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  color: rgb(236, 228, 228);
}
.typingHeading {
  width: 18ch;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;

  font-size: 4rem;
  animation: typing 2s steps(23), blink 0.5s step-end infinite alternate;
  border-right: 3px solid;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  color: rgb(122, 122, 122);
  text-shadow: 1px 2px 6px rgba(110, 194, 227, 0.74), 0 0 0 #000,
    1px 2px 6px rgba(110, 194, 227, 0.74);
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.partnersContainer {
  margin-top: 16rem;
}

.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 6rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.text {
  width: 60%;
  font-size: 3rem;
  display: flex;
  gap: 2rem;
  hyphens: auto;
}

.text strong {
  font-size: 4rem;
  letter-spacing: 0.2rem;
}

.text p {
  padding: 2rem;
}

.text p:first-child {
  border-right: 1px solid rgba(110, 194, 227);
}

.logos {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.logo1 {
  width: 24rem;
}

.logo2 {
  width: 24rem;
}

@media (max-width: 55em) {
  .container {
    flex-direction: column;
  }

  .text {
    flex-direction: column;
  }

  .text p {
    font-size: 2.2rem;
  }

  .text p:first-child {
    border: none;
  }
}
