.partners {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
  padding-right: 1%;
  padding-left: 1%;

  padding-bottom: 20%;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  color: rgb(236, 228, 228);
}

.dash {
  width: 4rem;
  height: 0.2rem;
  background-color: rgb(110, 193, 227);
}

.aboutUs {
  display: flex;
  align-items: center;

  gap: 1.8rem;
  margin-bottom: -2rem;
}

.aboutUsText {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
}

.aboutUsText h4 {
  margin-top: 0.3rem;
  color: rgb(255, 204, 0);
  letter-spacing: 0.2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.aboutUsText h3 {
  color: rgb(110, 193, 227);
}

.aboutText {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;

  gap: 1.5rem;
  padding: 2rem;

  hyphens: auto;
}

.aboutText h1 {
  font-size: 3.4rem;
  text-shadow: 1rem 0.75rem 4rem rgba(0, 0, 0, 0.7);
}

.aboutText p {
  font-size: 1.8rem;
  line-height: 2;
}

.partnersContainer {
  margin-top: 16rem;
}

.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 6rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.text {
  width: 60%;
  font-size: 2.5rem;
  display: flex;
  gap: 2rem;
  hyphens: auto;
}

.text strong {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.text p {
  padding: 2rem;
  border-right: 1px solid rgba(110, 194, 227);
}

.logos {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.logo1 {
  width: 18rem;
}

.logo2 {
  width: 18rem;
}

@media (max-width: 55em) {
  .container {
    flex-direction: column;
  }

  .text {
    flex-direction: column;
  }

  .text p {
    border-right: none;
    font-size: 1.4rem;
  }
}
