.sectionFooter {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 3%;
  padding-left: 3%;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #dbd6d6;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-family: Readex Pro, sans-serif;

  margin-bottom: 5rem;
  font-size: 1.1rem;
}

.copyright {
  line-height: 1.6;
  font-size: 1.6rem;
  margin-top: 0.2rem;
  text-align: center;
  font-weight: 600;
}

.copyright strong {
  letter-spacing: 2px;
  font-style: italic;
  font-size: 2rem;
}

.footerTop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.footerLogo {
  width: 60%;
  margin: 0 auto;
  height: 20rem;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.email {
  margin-top: 4rem;
  display: flex;
  gap: 3rem;
  height: 1rem;
  align-items: center;
}

.email p {
  font-size: 2.2rem;
  font-weight: 600;
}

.adress {
  margin-top: 4rem;
  display: flex;
  gap: 3rem;
  height: 2rem;
  width: 60rem;
  align-items: center;
}

.iconDiv {
  width: 4rem;
}

.adress p {
  font-size: 2rem;
  font-weight: 600;
}

.icon {
  width: 4rem;
  display: block;
}

@media (max-width: 96em) {
  .footerTop {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 12rem;
    align-items: center;
  }
}
