.map {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.conatiner {
  width: 70%;
}

.mapContainer {
  margin: 0 auto;
  border: 0.2rem dashed rgb(95, 125, 153);
  border-radius: 2rem;
  margin: 1rem !important;
}

@media (max-width: 63em) {
  .map {
    width: 70%;
  }
}
