.mapContainer {
  border-radius: 2rem;
}

.map {
  display: flex;
  align-items: center;
}

.mapContainer {
  margin: 0 auto;
  border: 0.2rem dashed rgb(95, 125, 153);
  border-radius: 2rem;
  margin: 1rem !important;
}

@media (max-width: 96em) {
  .map {
    transform: translateX(-40%);
  }
}
